<section class="px-4 my-5 text-center">
    <img src="/img/questions.jpg" class="d-block mx-auto mb-4 img-fluid" alt="Ask the Monks"width="566"height="140"loading="lazy"/>
    <h1 class="display-5 fw-bold">Ask the Monks</h1>
    <div class="col lg-6 mx-auto">
      <p class="lead mb-4">
        Stuck somewhere, or can't find a solution? CodeChimps allows all its registered users to ask doubts to the
        CodeChimps team i.e. the <b>CodeMonks</b> themselves. 
      </p>
      <div class="d-grid gap-2 sm-flex justify-content-sm-center">
        <a href="https://forms.gle/5y5GLmDccK2pCL26A" class="btn btn-primary btn-dark btn-lg" target="_blank">Ask Now</a>
      </div>
    </div>
  </section>